<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background: #000;
            height: 100%;
            width: 100%;
            background-color: rgb(9, 9, 9);
            background-position: center;
            background-size: cover;
            position: absolute;
            align-items: center;
            background-image: url("./image.jpg");
      background-size: cover;
        }

        hr {
            margin-top: 5px;
            width: 50%;
        }

        .forget-form {
            width: 380px;
            height: 480px;
            position: relative;
            margin: 6% auto;
            background-color: rgb(251, 248, 248);
            padding: 5px;
            border-radius: 20px;
        }

        .matter {
            margin-top: 130px;
            margin-left: 20px;
            margin-right: 10px;
        }

        .input-filed {
            margin-top: 50px;
            margin-left: 20px;
            width: 90%;
            padding: 4px;
            top: 0;
            left: 0;
            border-left: 0px;
            border-right: 0px;
            border-top: 0px;
            border-bottom: 1px solid #999999;
            outline: none;
            background: transparent;
            transform: translateY(-50%);
            transition: all 0.5 ease-in-put;
        }

        .send-btn {
            margin-top: 30px;
            width: 80%;
            padding: 10px 3px;
            cursor: pointer;
            display: block;
            margin-left: 30px;
            border: 0;
            background: linear-gradient(to right, #1c9cd4, #18aded);
            outline: none;
            border-radius: 30px;
            position: relative;
        }



        .login- {
            text-align: center;
            margin-top: 20px;

        }

        .return {
            text-decoration: none;
        }

        .return {
            margin-top: 50px;
            color: #282fed;
        }

        .return:hover {
            color: #000;
            text-shadow: 0 0 10px #000,
                0 0 20px#000,
                0 0 40px #000,
                0 0 80px #000,
                0 0 120px #000,
                0 0 160px #000;
        }





        .otp {
            text-align: center;
            margin-top: 25px;

        }

        .resend {
            text-decoration: none;
        }

        .resend {
            margin-top: 50px;
            color: #282fed;
        }

        .resend:hover {
            color: #000;
            text-shadow: 0 0 10px #000,
                0 0 20px#000,
                0 0 40px #000,
                0 0 80px #000,
                0 0 120px #000,
                0 0 160px #000;
        }

        #verify {
            position: absolute;
            top: 235px;
            left: 335px;
            padding: 2px;
            font-size: 12px;
        }

        #otpText {
            margin-left: 20px;
            margin-top: 10px;
        }

        #otpIn {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="forget-form">

        <div class="from">

            <div class="matter">
                <lable style="font-size:20px;font-family: Arial;border-radius: 10px;background-color: rgb(13, 143, 143);color:white;padding:10px;margin-bottom: 20px;">Forgot Password</lable><br><br>
            </div>
            <%if(forgotEmailBool==0){%>
                <center>
                  <h5 style="color:red;
                font-family: Arial;">Email Doesn't Exists</h5>
                </center>
                <%}%>
                <%if(forgotOTPBool==0){%>
                    <center>
                      <h5 style="color:red;
                    font-family: Arial;">Wrong OTP</h5>
                    </center>
                    <%}%>

            <h5 style="font-family: 'Arial';
            padding-bottom: 15px; color:green;display:block;margin-top: 40px;" id="otpText">Enter New Password
            </h5>

            <form action="/createNewPassword" method="post">

                <input placeholder="New Password" class="input-filed" name="inputPassword" style="display: block;" id="otpIn" value="<%=inputOTP%>" required>

                <div class="btn">
                    <button class="send-btn" type="submit">Login</button>
                </div>

            </form>
            <!-- <div class="login-">
                    <a class="return" href="/logIn">Return To Login</a>
                </div> -->


        </div>

    </div>
    <script>
        function verifyEmail() {
            const otpText = document.querySelector("#otpText");
            const otpIn = document.querySelector("#otpIn");
            otpText.style.display = "block";
            otpIn.style.display = "block";
        }
    </script>
</body>

</html>